*{
    margin: 0;
    padding: 0;
}

main{
    margin-top: 56px;
}

#cardsContainer{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    margin-left:1em;
    margin-right: 1em;
    justify-content: center;
    align-items: start;
    z-index: 0;

}

.cardWrapper {
    padding: 0.5em;
}

.myCard {
    border: 1px solid black;
    border-radius: 0.5em;
    /* margin: 1em; */
    padding: 0;
    z-index: 0;
}

.imgWrapper {
    width: 100%;
    height: 100%;
}

.myCard img{
    border-radius: 0.5em;
    overflow: hidden;
    z-index: 0;
}

.myCardBody{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.myCardBody h5{
    color: black;
}

.bottomInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: baseline;
    text-overflow: ellipsis;
}

.bottomInfo *{
    margin: 0;
}

#cartList{
    max-height: 80%;
}